@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  /* Gray */
  --color-gray-600: #717fa6;

  /* Purple */
  --color-purple-500: #766cf1;

  /* Blue */
  --color-blue-950: #1f2e55;
  --color-blue-700: #382ae1;
  --color-blue-150: #d6e1ff;
  --color-blue-100: #e0e8ff;
  --color-blue-50: #f7f9ff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* Gray */
  --color-gray-600: var(--color-gray-600);

  /* Purple */
  --color-purple-500: var(--color-purple-500);

  /* Blue */
  --color-blue-950: var(--color-blue-950);
  --color-blue-700: var(--color-blue-700);
  --color-blue-150: var(--color-blue-150);
  --color-blue-100: var(--color-blue-100);
  --color-blue-50: var(--color-blue-50);

  --font-redHatDisplay: var(--font-red-hat-display), ui-sans-serif, system-ui, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-red-hat-display);
}

@utility text-preset-1 {
  font-family: var(--font-red-hat-display);
  font-weight: 900;
  font-size: 28px;
  line-height: 1.35;
  letter-spacing: 0px;
}

@utility text-preset-2 {
  font-family: var(--font-red-hat-display);
  font-size: 22px;
  line-height: 1.35;
  font-weight: 900;
  letter-spacing: 0px;
}

@utility text-preset-3-black {
  font-family: var(--font-red-hat-display);
  font-size: 16px;
  line-height: 1.65;
  font-weight: 900;
  letter-spacing: 0px;
}

@utility text-preset-3-bold {
  font-family: var(--font-red-hat-display);
  font-size: 16px;
  line-height: 1.65;
  font-weight: 700;
  letter-spacing: 0px;
}

@utility text-preset-3-medium {
  font-family: var(--font-red-hat-display);
  font-size: 16px;
  line-height: 1.65;
  font-weight: 500;
  letter-spacing: 0px;
}

@utility text-preset-4-black {
  font-family: var(--font-red-hat-display);
  font-size: 15px;
  line-height: 1.65;
  font-weight: 900;
  letter-spacing: 0px;
}

@utility text-preset-4-bold {
  font-family: var(--font-red-hat-display);
  font-size: 15px;
  line-height: 1.65;
  font-weight: 700;
  letter-spacing: 0px;
}

@utility text-preset-4-medium {
  font-family: var(--font-red-hat-display);
  font-size: 15px;
  line-height: 1.65;
  font-weight: 500;
  letter-spacing: 0px;
}
